body { 
  background-color: white; 
} 

h1 {
    text-align: center;
    font-size: 64pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  h2 {
    text-align: center;
    font-size: 40pt;
  }
  
 p {
  text-align: center;
  font-size: 16pt;
 }

 a {
  color: orange;
 }

 #NIKOLAI { 
  margin-left: auto;
  padding-right: 30px;
  margin-top: 5px;
}

.olifantje { 
  color: orange;
  font-size: 25pt;
  margin-left: 20px;
 }

#JAYDEN { 
  color: white;
  font-size: 25pt;
  margin-left: 20px;
}

#buitenste2 { 
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
}

* { 
  box-sizing:border-box ;
}

article {
  background-color: white;
  box-shadow: 10px 10px 20px 20px gray;
  
}

#KAAS { 
  text-align: center;
  padding-left: 20px;
}

nav {
  background-color: black;
  height: 57px;
  display: flex;
 }

 .GROOT { 
  font-size: 25px;
}

#MALICK { 
  color: orange;
}
#BADDIES { 
  color: white;
}

#WIEBEL {
  color: white;
  font-size: 25pt;
  margin-left: 20px;
 }

 .FABIAN { 
  color: orange;
  font-size: 25pt;
  margin-left: 20px;
 }


